# Introduction Pandas

Pandas is an open-source Python library for data manipulation and analysis.
It provides easy-to-use data structures and functions for working with structured data. 

##  Data Structures in Pandas
Pandas provides two primary data structures:
- Series: A one-dimensional array-like object.
- DataFrame: A two-dimensional table of data with rows and columns.

Most csv files contain two-dimensional table information. This information can be read with `pandas.read_csv()` method.

In [1]:
# To use Pandas, you need to import it in your Python script or Jupyter Notebook:
import pandas as pd
# to read a flat text file you can use the method read_csv()
df = pd.read_csv('MicroarrayExpression.csv', header = None)

## Data exploration

Pandas has some useful methods and attributes for data exploration. In this notebook we use 

- `head()` for inspecting the first few lines
- `shape` which is an attribute containing the number of rows and columns
- `info()` for inspecting data types, missing values and the number of rows and columns
- `dtype` for inspecting the datatype of a column
- `describe()` for summary statistics
- `columns()` for getting an array with all the columnnames

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,937,938,939,940,941,942,943,944,945,946
0,1058685,3.615792,2.138074,2.480542,2.964972,2.679803,1.856238,2.280435,3.080857,2.628575,...,3.852665,3.849358,3.018556,3.203562,2.050227,3.487880,2.354469,2.586168,3.495279,3.306209
1,1058684,1.574380,1.687217,1.975735,2.089475,1.912586,1.601138,1.626724,1.855901,1.858343,...,1.698639,2.106493,1.573482,2.028703,2.058318,1.620506,1.802832,1.698847,1.839290,1.703562
2,1058683,1.596431,1.948371,2.191910,2.224042,2.223798,1.557563,1.940634,2.337132,2.253177,...,1.879796,1.576539,1.835648,1.664253,2.195771,1.832431,1.993473,1.864939,2.073033,1.907132
3,1058682,4.482883,6.606044,5.261559,4.013277,5.600743,5.624775,4.552105,4.276418,5.675885,...,4.336135,4.904766,4.305006,5.202678,4.121053,4.507000,4.123025,4.020838,4.222393,4.523669
4,1058681,6.291312,8.149890,7.948218,6.964453,8.682156,7.753634,7.462767,6.998209,7.565414,...,6.999358,6.289043,6.515205,6.893379,6.473620,6.326008,6.264416,5.800701,5.901888,6.491646

In [3]:
df.shape

(58692, 947)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58692 entries, 0 to 58691
Columns: 947 entries, 0 to 946
dtypes: float64(946), int64(1)
memory usage: 424.1 MB

In [5]:
#getting first 10 columns
df.columns[0:10]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [6]:
df[0].dtype

dtype('int64')

In [7]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,937,938,939,940,941,942,943,944,945,946
count,5.869200e+04,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,...,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000,58692.000000
mean,1.040863e+06,5.007278,5.573576,5.759790,5.136862,5.623625,5.194916,5.504477,5.290797,5.613945,...,5.360776,5.236403,5.237214,5.678691,5.244998,5.316606,5.283061,5.301330,5.244720,5.257482
std,1.762176e+04,2.800320,3.046027,3.045560,2.809239,3.010242,2.997421,3.021867,2.906225,3.052789,...,2.996783,2.872988,2.897141,3.214527,2.932234,2.811112,2.829740,2.822716,2.830432,2.825785
min,1.010234e+06,1.473066,1.473066,1.473066,1.476725,1.473066,1.473066,1.473066,1.473066,1.473066,...,1.473066,1.473066,1.473066,1.473066,1.492682,1.473066,1.473066,1.473066,1.473066,1.473066
25%,1.025667e+06,2.330987,2.616906,3.211335,2.736365,2.973174,2.287382,2.523297,2.744062,2.872295,...,2.479632,2.789933,2.645097,2.518940,2.342615,2.846907,2.620784,2.778137,2.435494,2.526906
50%,1.040808e+06,4.824722,5.502625,5.245700,4.245916,5.094920,5.006790,5.428307,4.520640,5.165796,...,5.111384,4.988963,4.974161,5.616686,4.839748,5.112532,5.070179,5.051785,4.977989,5.031055
75%,1.056254e+06,6.945616,7.776618,7.741844,7.031768,7.756887,7.365707,7.669834,7.343454,7.805419,...,7.460219,7.212449,7.271015,7.968556,7.337713,7.252678,7.287176,7.226652,7.230496,7.227099
max,1.071211e+06,17.400573,18.381752,18.381752,18.381752,18.381752,18.381752,17.772448,18.381752,18.381752,...,18.381752,17.853922,18.381752,18.381752,18.381752,18.381752,18.381752,17.853922,17.853922,18.381752

## Data manipulation

Pandas has also useful methods for data manipulation

- `rename()` useful to rename columns
- `astype()` to typecast from one datatype to another

In [8]:
df = df.rename(columns = {0:'probe'})

In [9]:
df.head()

,probe,1,2,3,4,5,6,7,8,9,...,937,938,939,940,941,942,943,944,945,946
0,1058685,3.615792,2.138074,2.480542,2.964972,2.679803,1.856238,2.280435,3.080857,2.628575,...,3.852665,3.849358,3.018556,3.203562,2.050227,3.487880,2.354469,2.586168,3.495279,3.306209
1,1058684,1.574380,1.687217,1.975735,2.089475,1.912586,1.601138,1.626724,1.855901,1.858343,...,1.698639,2.106493,1.573482,2.028703,2.058318,1.620506,1.802832,1.698847,1.839290,1.703562
2,1058683,1.596431,1.948371,2.191910,2.224042,2.223798,1.557563,1.940634,2.337132,2.253177,...,1.879796,1.576539,1.835648,1.664253,2.195771,1.832431,1.993473,1.864939,2.073033,1.907132
3,1058682,4.482883,6.606044,5.261559,4.013277,5.600743,5.624775,4.552105,4.276418,5.675885,...,4.336135,4.904766,4.305006,5.202678,4.121053,4.507000,4.123025,4.020838,4.222393,4.523669
4,1058681,6.291312,8.149890,7.948218,6.964453,8.682156,7.753634,7.462767,6.998209,7.565414,...,6.999358,6.289043,6.515205,6.893379,6.473620,6.326008,6.264416,5.800701,5.901888,6.491646

In [10]:
df.probe = df.probe.astype(str)

In [11]:
df.probe.dtype

dtype('O')

## Adding a column

We easily add another column just by defining it. 
`df['mean_expression'] = <expression>` We can calculate the values for the entire column at once. We call this vectorization. 

## Vectorization

Based on the definition given by the official Numpy documentation, vectorization is defined as being “able to delegate the task of performing mathematical operations on the array’s contents to optimized, compiled C code.” Instead of looping through rows, columns or elements, this allows us to apply one set of instructions on multiple elements at the same time.

## The Pandas way
A stated above the vectorized implementation is a structure that supports instruction processing per any number of data elements per one moment in time, in order to produce multiple results. `df['mean_expression'] = df.iloc[:,1:].mean(axis=1)`is an example of such an instruction. It calculates the mean of all the values in a row starting from the second column. In data processing vectorized instructions are favored over element wise instructions, since vectorized implementations allow paralel CPU usage.


## Slicing

Previously we learned to slice elements from an array. The same way we can slice in a matrix. In Pandas we use `iloc[]`. We define within the brackets the rows before the `,` and the columns after the `,`. 

- `df.iloc[:,:]` get all
- `df.iloc[:,1:]` get all except first column (starting from the second element)

Since we can apply the manipulation on the entire matrix at once we can select the part of the matrix we want to use by slicing all the expression values `df.iloc[:,1:]` and then take the mean per row by the method `mean()`. It needs `axis=1` argument because we want the mean per row.

In [12]:
df['mean_expression'] = df.iloc[:,1:].mean(axis=1)
df['max_expression'] = df.iloc[:,1:].max(axis=1)

## Subselect

We can also subset the dataframe by columnnames using the principle `df[<list of columnnames>]`

In [13]:
df[['probe', 'mean_expression', 'max_expression']]

         probe  mean_expression  max_expression
0      1058685         3.170861        5.266226
1      1058684         1.807408        5.983323
2      1058683         1.844432        4.569193
3      1058682         4.734648        6.723500
4      1058681         6.889457        9.349430
...        ...              ...             ...
58687  1071207         4.717130        7.441838
58688  1071208         5.998140        8.591054
58689  1071209         2.207939        6.072979
58690  1071210         5.988575        9.580510
58691  1071211         5.531035       11.228977

[58692 rows x 3 columns]

Or make a subselection based on a value

In [14]:
#select rows with a certain column value
df[df.probe=='1058299']

,probe,1,2,3,4,5,6,7,8,9,...,939,940,941,942,943,944,945,946,mean_expression,max_expression
686,1058299,9.518073,11.395661,11.377606,11.139313,12.18467,10.840266,9.72619,9.288224,11.09046,...,9.703488,10.335726,9.854712,9.324671,9.302963,9.429535,9.748501,9.513242,10.010499,18.381752

Since it is python we can combine several of this data subselections. In the following code we see the following: 


1. `df[['probe', 'mean_expression']]`: This part of the code selects two columns from the DataFrame `df`, namely 'probe' and 'mean_expression'. It creates a new DataFrame containing only these two columns.

2. `df['mean_expression'].idxmax()`: This part of the code finds the index of the row where the 'mean_expression' column has the maximum value. The `idxmax()` method returns the index label (row label) of the first occurrence of the maximum value in the 'mean_expression' column.

3. `df[['probe', 'mean_expression']].iloc[...]`: uses the index obtained in step 2 to select the corresponding row from the DataFrame created in step 1. It effectively retrieves the 'probe' and 'mean_expression' values for the probe with the highest mean expression.

So, in summary, this code returns a DataFrame with the 'probe' and 'mean_expression' values for the probe that has the highest mean expression in the original DataFrame `df`.

In [15]:
# get probe with highest mean_expression
df[['probe', 'mean_expression']].iloc[df['mean_expression'].idxmax()]

probe                1070089
mean_expression    18.113228
Name: 57573, dtype: object

In [16]:
# get probe with highest mean_expression
df[['probe', 'max_expression']].iloc[df['max_expression'].idxmax()]

probe               1058299
max_expression    18.381752
Name: 686, dtype: object

We can use the columnnames to specify the region of interest and select the highly expressed values

In [17]:
cutoff = 15
cols = [319, 320]
condition = (df[cols[0]] > cutoff) | (df[cols[1]] > cutoff)
cols.insert(0, 'probe') # insert probe to front of column list
result = df.loc[condition, cols]
result

         probe        319        320
1595   1056447  16.396648  16.317821
2425   1055417  15.389932  15.691018
3529   1054004  16.247951  16.312615
3831   1053768  15.152246  14.723316
4955   1052463  15.639031  15.823205
...        ...        ...        ...
57809  1070326  15.270452  14.724831
57883  1070402  15.010812  13.998650
57899  1070418  15.280221  15.358999
58288  1070807  14.758201  15.022435
58539  1071058  15.823205  15.623797

[90 rows x 3 columns]

## Make it more generic
We can make this more generic with *args

We define a function filter_dataframe that takes a DataFrame df, a cutoff value, and a variable number of column indices specified as *columns.

Inside the function, we create a list of conditions for each column specified in *columns. We use a list comprehension to iterate through the column indices and create conditions for each column where values are greater than the cutoff.

We use `pd.concat` to concatenate the conditions along the columns `(axis=1)`, and then we use `.any(axis=1)` to check if any of the conditions are True for each row. This gives us the final condition that checks if any of the specified columns meet the cutoff condition.

We filter the rows in the DataFrame df based on this condition and store the result in the result DataFrame.

By using `*columns`, you can pass any number of column indices to the filter_dataframe function and filter the DataFrame based on those columns and the specified cutoff.

In [18]:
def filter_dataframe(df, cutoff, *columns):
    conditions = [df[col] > cutoff for col in columns]
    condition = pd.concat(conditions, axis=1).any(axis=1)
    result = df[condition]
    return result

# Usage
cols = [319, 320]
cutoff = 15
filtered_df = filter_dataframe(df, cutoff, *cols)
cols.insert(0, 'probe') # insert probe to front of column list
filtered_df[cols]

         probe        319        320
1595   1056447  16.396648  16.317821
2425   1055417  15.389932  15.691018
3529   1054004  16.247951  16.312615
3831   1053768  15.152246  14.723316
4955   1052463  15.639031  15.823205
...        ...        ...        ...
57809  1070326  15.270452  14.724831
57883  1070402  15.010812  13.998650
57899  1070418  15.280221  15.358999
58288  1070807  14.758201  15.022435
58539  1071058  15.823205  15.623797

[90 rows x 3 columns]

## Combine information from two files
We can merge two files together with the method `pd.merge()`. It needs to sources and a key per source to link one file with the other

In [19]:
df_probes = pd.read_csv('Probes.csv')

In [20]:
df_probes.head()

,probe_id,probe_name,gene_id,gene_symbol,gene_name,entrez_id,chromosome
0,1058685,A_23_P20713,729,C8G,"complement component 8, gamma polypeptide",733.0,9
1,1058684,CUST_15185_PI416261804,731,C9,complement component 9,735.0,5
2,1058683,A_32_P203917,731,C9,complement component 9,735.0,5
3,1058682,A_23_P138819,736,MRPL49,mitochondrial ribosomal protein L49,740.0,11
4,1058681,A_24_P232500,736,MRPL49,mitochondrial ribosomal protein L49,740.0,11

In [21]:
df_probes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58692 entries, 0 to 58691
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   probe_id     58692 non-null  int64
 1   probe_name   58692 non-null  object
 2   gene_id      58692 non-null  int64
 3   gene_symbol  58692 non-null  object
 4   gene_name    58692 non-null  object
 5   entrez_id    48171 non-null  float64
 6   chromosome   48154 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 3.1+ MB

In [22]:
df_probes.probe_id = df_probes.probe_id.astype(str)

In [23]:
probe_all = pd.merge(df, df_probes, left_on = 'probe', right_on = 'probe_id')

In [24]:
probe_all

,probe,1,2,3,4,5,6,7,8,9,...,946,mean_expression,max_expression,probe_id,probe_name,gene_id,gene_symbol,gene_name,entrez_id,chromosome
0,1058685,3.615792,2.138074,2.480542,2.964972,2.679803,1.856238,2.280435,3.080857,2.628575,...,3.306209,3.170861,5.266226,1058685,A_23_P20713,729,C8G,"complement component 8, gamma polypeptide",733.0,9
1,1058684,1.574380,1.687217,1.975735,2.089475,1.912586,1.601138,1.626724,1.855901,1.858343,...,1.703562,1.807408,5.983323,1058684,CUST_15185_PI416261804,731,C9,complement component 9,735.0,5
2,1058683,1.596431,1.948371,2.191910,2.224042,2.223798,1.557563,1.940634,2.337132,2.253177,...,1.907132,1.844432,4.569193,1058683,A_32_P203917,731,C9,complement component 9,735.0,5
3,1058682,4.482883,6.606044,5.261559,4.013277,5.600743,5.624775,4.552105,4.276418,5.675885,...,4.523669,4.734648,6.723500,1058682,A_23_P138819,736,MRPL49,mitochondrial ribosomal protein L49,740.0,11
4,1058681,6.291312,8.149890,7.948218,6.964453,8.682156,7.753634,7.462767,6.998209,7.565414,...,6.491646,6.889457,9.349430,1058681,A_24_P232500,736,MRPL49,mitochondrial ribosomal protein L49,740.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58687,1071207,4.987220,4.145995,4.589687,3.561543,3.304363,6.798598,3.590037,3.205259,3.040562,...,6.952641,4.717130,7.441838,1071207,A_32_P69683,1012195,A_32_P69683,AGILENT probe A_32_P69683 (non-RefSeq),NaN,NaN
58688,1071208,4.784908,5.774458,7.344428,6.931995,7.082742,6.873591,6.432648,7.226248,6.561758,...,6.645675,5.998140,8.591054,1071208,A_32_P87582,1012196,A_32_P87582,AGILENT probe A_32_P87582 (non-RefSeq),NaN,NaN
58689,1071209,1.600835,2.499161,3.375202,2.670347,2.907766,1.800546,3.780652,3.047936,2.936393,...,3.610024,2.207939,6.072979,1071209,A_32_P885445,1012197,A_32_P885445,AGILENT probe A_32_P885445 (non-RefSeq),NaN,NaN
58690,1071210,5.309298,6.664290,4.930464,6.747977,8.973160,6.940977,5.484037,6.084899,5.109666,...,1.820667,5.988575,9.580510,1071210,A_32_P9207,1012198,A_32_P9207,AGILENT probe A_32_P9207 (non-RefSeq),NaN,NaN
58691,1071211,5.143094,5.971592,6.625777,5.048890,4.977652,5.527491,5.581687,5.353972,6.085413,...,6.358758,5.531035,11.228977,1071211,A_32_P94122,1012199,A_32_P94122,AGILENT probe A_32_P94122 (non-RefSeq),NaN,NaN

In [25]:
#Let us drop the information we do not want
probe_all.drop(probe_all.columns[1:947], axis=1, inplace=True)

In [26]:
probe_all

,probe,mean_expression,max_expression,probe_id,probe_name,gene_id,gene_symbol,gene_name,entrez_id,chromosome
0,1058685,3.170861,5.266226,1058685,A_23_P20713,729,C8G,"complement component 8, gamma polypeptide",733.0,9
1,1058684,1.807408,5.983323,1058684,CUST_15185_PI416261804,731,C9,complement component 9,735.0,5
2,1058683,1.844432,4.569193,1058683,A_32_P203917,731,C9,complement component 9,735.0,5
3,1058682,4.734648,6.723500,1058682,A_23_P138819,736,MRPL49,mitochondrial ribosomal protein L49,740.0,11
4,1058681,6.889457,9.349430,1058681,A_24_P232500,736,MRPL49,mitochondrial ribosomal protein L49,740.0,11
...,...,...,...,...,...,...,...,...,...,...
58687,1071207,4.717130,7.441838,1071207,A_32_P69683,1012195,A_32_P69683,AGILENT probe A_32_P69683 (non-RefSeq),NaN,NaN
58688,1071208,5.998140,8.591054,1071208,A_32_P87582,1012196,A_32_P87582,AGILENT probe A_32_P87582 (non-RefSeq),NaN,NaN
58689,1071209,2.207939,6.072979,1071209,A_32_P885445,1012197,A_32_P885445,AGILENT probe A_32_P885445 (non-RefSeq),NaN,NaN
58690,1071210,5.988575,9.580510,1071210,A_32_P9207,1012198,A_32_P9207,AGILENT probe A_32_P9207 (non-RefSeq),NaN,NaN
58691,1071211,5.531035,11.228977,1071211,A_32_P94122,1012199,A_32_P94122,AGILENT probe A_32_P94122 (non-RefSeq),NaN,NaN

In [27]:
## we can do this for the filtered probes as well
probe_all = pd.merge(filtered_df, df_probes, left_on = 'probe', right_on = 'probe_id')
probe_all.drop(probe_all.columns[1:947], axis=1, inplace=True)
probe_all

,probe,mean_expression,max_expression,probe_id,probe_name,gene_id,gene_symbol,gene_name,entrez_id,chromosome
0,1056447,15.446465,18.381752,1056447,A_24_P31165,2654,GFAP,glial fibrillary acidic protein,2670.0,17
1,1055417,15.459158,17.718814,1055417,A_23_P162874,3300,HSP90AA2,"heat shock protein 90kDa alpha (cytosolic), cl...",3320.0,14
2,1054004,16.827493,18.381752,1054004,A_23_P129629,4478,MT3,metallothionein 3,4504.0,16
3,1053768,15.075045,18.381752,1053768,A_24_P264832,4715,NEFM,"neurofilament, medium polypeptide",4741.0,8
4,1052463,16.282830,17.980090,1052463,CUST_12712_PI416261804,5731,PTMS,parathymosin,5763.0,12
...,...,...,...,...,...,...,...,...,...,...
85,1070326,15.578070,18.381752,1070326,A_24_P918875,1011339,A_23_P360209,AGILENT probe A_23_P360209 (non-RefSeq),NaN,NaN
86,1070402,14.924353,17.853922,1070402,A_23_P130187,1011390,A_23_P130187,AGILENT probe A_23_P130187 (non-RefSeq),NaN,NaN
87,1070418,15.865386,17.787035,1070418,A_23_P201521,1011406,A_23_P201521,AGILENT probe A_23_P201521 (non-RefSeq),NaN,NaN
88,1070807,15.458995,18.381752,1070807,A_24_P852099,1011795,A_24_P852099,AGILENT probe A_24_P852099 (non-RefSeq),NaN,NaN
89,1071058,16.420533,18.381752,1071058,A_24_P551842,1012046,A_24_P551842,AGILENT probe A_24_P551842 (non-RefSeq),NaN,NaN

## More information

Pandas Documentation: https://pandas.pydata.org/pandas-docs/stable/
Pandas Cheat Sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf